{% extends 'base.html' %}
<title>{% block title %}Home{% endblock title %}</title>
{% block content %}

<div class="container">
    <div class="row" style="padding: 20px; margin-top: 50px;">
        {% for post in object_list %}
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.body|truncatewords:19 }}</p>
                    <a href="{% url 'detail' post.id %}" class="btn btn-primary">read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}